@import '../css/common.css';

:host {
    margin: var(--c360-g-spacing-4);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.container > * + * {
    margin-top: 4rem;
}

.link {
    display: inline-block;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
}
